@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;


}

nav {
    background-color: beige;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0 23px;
    font-size: 27px;
    font-weight: 800;
    cursor: pointer;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul>li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul>li:hover {
    color: white;

}

table,
td,
tr {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;

}

h1,
h2,
h3 {
    margin: 13px;
}

.btn {
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 23px 0;
    cursor: pointer;
}

.btnsm {
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
}